
.header {
  background-color: #00FFFF;
  display: flex;
}
.header h1 {
text-align: center;
flex: auto;
}
.body {
background-color: #00FFFF;
  display: flex;
}
.body img {
  width: 50px;
}

.shopheader {
background-color: #7FFF00;
display: flex;
}
.zbozi {
display: flex;
background-color: #7FFF00;
}

.contactheader {
background-color: #7FFFD4;
display: flex;
}
